<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Internhub</title>
  <link rel="stylesheet" href="layout.css" />
  <script src="script.js" defer></script>

</head>
<body>

  <!-- HEADER -->
  <header id="header">
    <div class="navbar-container">
      <a href="#" class="logo-link">
        <img src="images/LOGO_SFB_Rognee.png" alt="Internhub Logo" class="logo" />
      </a>

      <nav class="nav-center">
        <ul id="nav-links">
          <li><a href="#" class="active">Accueil</a></li>
          <li><a href="#">Offres</a></li>
          <li><a href="#">Entreprises</a></li>
          <li><a href="#">Wishlist</a></li>
        </ul>
      </nav>

      <nav class="nav-right">
        <ul>
          <li><a href="#" onclick="openModal('connexionModal')">Login</a></li>
          <li class="separator"></li>
          <li><a href="#" onclick="openModal('inscriptionModal')">Sign in</a></li>
        </ul>
        <div id="connexionModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal('connexionModal')">&times;</span>
              <h2>Connexion</h2>
              <form method="POST" action="connexion.php">
                  <input type="text" name="pseudo" placeholder="Pseudo" required><br>
                  <input type="password" name="mdp" placeholder="Mot de passe" required><br>
                  <button type="submit">Se connecter</button>
              </form>
          </div>
      </div>
  
      <div id="inscriptionModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeModal('inscriptionModal')">&times;</span>
              <h2>Inscription</h2>
              <form method="POST" action="inscription.php">
                  <input type="text" name="pseudo" placeholder="Pseudo" required><br>
                  <input type="password" name="mdp" placeholder="Mot de passe" required><br>
                  <button type="submit">S'inscrire</button>
              </form>
          </div>
      </div>
      </nav>
    </div>
    <!-- Barre violette -->
    <div class="nav-underline" id="nav-underline"></div>
  </header>

  <!-- MAIN -->
  <main class="main-content"></main>

  <!-- FOOTER -->
  <footer>
    <p>© 2025 Interhub</p>
    <nav class="footer-links">
      <a href="#">Conditions d’utilisations</a>
      <a href="#">Cookies</a>
      <a href="#">Aide et contact</a>
      <a href="#">À Propos</a>
    </nav>
    <div class="social">
      <span>Nous suivre sur :</span>
      <div class="social-icons">
        <a href="#"><img src="LOGO_Facebook.png" alt="Facebook" /></a>
        <a href="#"><img src="LOGO_X.png" alt="X" /></a>
        <a href="#"><img src="LOGO_Tiktok.png" alt="TikTok" /></a>
        <a href="#"><img src="LOGO_Instagram.png" alt="Instagram" /></a>
        <a href="#"><img src="LOGO_Linkedin.png" alt="LinkedIn" /></a>
      </div>
    </div>
  </footer>

</body>
</html>
